.container {
    height: 600px;
    width: 450px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 5px 10px 10px 6px rgba(3, 5, 39, 0.507);


}


.heading p {
    font-size: 22px;
    font-weight: 600;
}

@media (max-width: 425px) {

    
    .container {
        height: 600px;
        width: 375px;
        
        margin-top: 40px;
    }

}