nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.menu,
.search {
    font-size: 30px;
    margin-top: 5px;
    cursor: pointer;
    width: 10%;
}

.searchBar {
    width:80%;
    @media (max-width: 425px) {
        width: 60%;
     
     }
}

.searchBar input {
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin-left: 15px;
}

.searchBar input:focus {
    border-color: #1900ff;
    background-color: transparent;
}